body {
   font-family: 'Oswald', sans-serif;
}

h3 {
    margin-bottom: 25px;
}

#svg {
    width: 100%;
    height: 650px;
    background-color: #FAFAF2;
}

#legend {
    height: 300px;
}

#plot3 {
    width: 100%;
    height: 400px;
}

.bar {
   opacity: .7;
}

.bar:hover {
   opacity: 1;
}

.node {
    stroke: black;
    cursor: pointer;
}

.label {
    cursor: pointer;
}

.link {
    cursor: pointer;
}

.btn-default {
    background-color: #FAFAF2;
    border: solid 1px #C1BB82;
    opacity: .7;
    font-size: 10pt;
    margin-bottom: 10px;
}

.btn-default:hover{
    opacity: 1;
}

/*//this dont work yet//
.btn-default:focus{
    opacity: 1;
}*/

.input-group{
    width: 300px;
    opacity: .7
}

.input-group:hover{
    opacity: 1;
}

.input-group-text{ 
    background-color: #FAFAF2;
    border: solid 1px #C1BB82;
}

.input-group input {
    border: solid 1px #C1BB82;
}

#hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#hero .hero-refugee {
    position: absolute;
    font-size: 10vh;
    z-index: -10;
    color: black;
}

#hero h1{
    font-size: 40vh;
    text-align: center;
    line-height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.93);
}

#intro {
    height: 500px;
    position: relative;
    overflow: hidden;
}

#intro .foreground-text {
    width: 400px;
    margin-left: 20%;
    margin-top: 100px;
}

#intro h2 {
    width: 120%;
    margin-left: -10%;
    margin-top: -10px;
    word-wrap: break-word;
    position: absolute;
    top: 0;
    color: #F8F7F0;
    z-index: -10;
    font-size: 280px;
    line-height: 180px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
}

#map-viz {
    /* Aspect ratio of the background image */
    height: 43vw;
    width: 100vw;
    background-color: white;
    background-image: url('img/africa 3.png');
    background-size: 100% 100%;

    position: relative;
    overflow: hidden;

    margin-bottom: 50px;
}

#map-viz svg {
    position: absolute;
    top: 0
}

#map-viz .foreground-text {
    width: 400px;
    margin-left: 20%;
    margin-top: 50px;
}

#network-img {
    width: 90%;
    float: right;
}

#yearBtn,
#fieldBtn,
#thresholdBtn {
    margin-top: 10px;
}

#yearBtn .btn-label,
#fieldBtn .btn-label,
#thresholdBtn .btn-label{
    margin-bottom: 5px;
}
